.profile-list {
  position: absolute;
  z-index: 111111;
  top: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.3s;
  width: 100%;
  background-color: rgb(33, 37, 41);
  border-radius: 20px;
  overflow: hidden;
}

.profile-item:hover .profile-list {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.profile-item img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(295deg)
    brightness(106%) contrast(102%);
}

.profile-item {
  border-radius: 20px;
  padding: 1.2rem;
  transition: all 0.2s;
  position: relative;

  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.profile-item:hover {
  /* transform: scale(1.05); */
  background-color: rgba(36, 36, 36, 0.5);
}
