.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;

  max-width: 120rem;
  margin: 0 auto;
  padding: 1.2rem 2.4rem;
  font-size: 2.4rem;
}

.img-container {
  display: block;
  height: 6rem;
}

.img-container img {
  height: 100%;
  width: auto;
}

.mobile-container {
  display: none;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  z-index: 100;
}

@media (max-width: 1000px) {
  .container {
    display: none;
  }

  .mobile-container {
    display: block;
  }
}
