.item img {
  width: 100%;
}

.item {
  transition: all 0.2s ease-out;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.item:hover {
  box-shadow: 0 0 3.2rem rgba(186, 186, 186, 0.1);
  transform: scale(1.05);
}
