@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  margin: 2.4rem auto;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2px solid #dee2e6;
  border-top: 2px solid #5f3dc4;
  animation-name: spin;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
