.rating {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.rating span {
  color: #fff;
  padding: 0.2rem 0.8rem;
  border-radius: 1000px;
}

.dark-green {
  background-color: #2b8a3e;
}

.green {
  background-color: #51cf66;
}

.dark-yellow {
  background-color: #e67700;
}
.yellow {
  background-color: #ffd43b;
}

.red {
  background-color: #f03e3e;
}

.gray {
  background-color: #868e96;
}
