.bar {
  position: fixed;
  z-index: 23438;
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  background-color: #e67700;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.line {
  position: fixed;
  width: 100%;
  height: 3px;
  background-color: #444;
  top: 0;
  left: 0;
  z-index: 2348738;

  animation-name: move;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
