.text {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.2rem;
}

.text img {
  width: 3rem;
  filter: invert(84%) sepia(14%) saturate(200%) hue-rotate(340deg)
    brightness(112%) contrast(98%);
}

.text p {
  font-size: 3.2rem;
}

.rates {
  display: grid;
  row-gap: 1.2rem;
  column-gap: 4rem;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 30px;
}

.rate-button {
  color: #fff;
  background: none;
  border: none;
  font-size: 3.2rem;
  padding: 2rem;
  border-radius: 30px;
  transition: all 0.5s;
}

.rate-button:hover {
  background: rgba(85, 85, 85, 0.4);
  /* background-color: rgba(255, 212, 59, 0.7); */
}
