@font-face {
  font-family: "secular";
  src: url(../public/fonts/secular.ttf);
}

@font-face {
  font-family: "open-sans";
  src: url(../public/fonts/opensans.ttf);
}

html {
  /* make 1 rem = 10px */
  /* 10 / 16 = 0.625 = 62.5% --- % for users who changed default font size*/
  font-size: 62.5%;
}

@media (max-width: 455px) {
  html {
    font-size: 50%;
  }
}

body {
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
  font-weight: 400;
  background-color: #111315;
  color: #f8f9fa;
  font-family: "open-sans";
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 120rem;
  padding: 0 1.2rem;
  margin: 0 auto;
}

/* SCROLLBAR CUSTOM STYLE */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #111315;
}

::-webkit-scrollbar-thumb {
  background: #929292;
}

::-webkit-scrollbar-thumb:hover {
  background: #d2d2d2;
}

body {
  margin-bottom: 9rem;
}

/* COLOrS */

.dark-green {
  background-color: #2b8a3e;
}

.green {
  background-color: #51cf66;
}

.dark-yellow {
  background-color: #e67700;
}
.yellow {
  background-color: #ffd43b;
}

.red {
  background-color: #f03e3e;
}

.gray {
  background-color: #868e96;
}
