.main {
  max-width: 120rem;
  padding: 0 1.2rem;
  margin: 0 auto;
  margin-top: 6rem;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.message {
  font-size: 3.2rem;
}

.link {
  font-size: 3.2rem;
  padding: 2rem 4rem;
  border-radius: 30px;

  background-color: #f08c00;
  color: #f8f9fa;
  transition: all 0.2s;
}

.link:hover {
  background-color: #e67700;
}

/* rates */

.heading {
  font-size: 4.8rem;
  margin-bottom: 2.4rem;
}

.rates-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1.2rem;
  row-gap: 6.4rem;
}

@media (max-width: 1220px) {
  .main {
    max-width: 100rem;
  }

  .rates-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1030px) {
  .main {
    max-width: 75rem;
  }

  .rates-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 775px) {
  .main {
    max-width: 50rem;
  }

  .rates-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .main {
    max-width: 40rem;
  }

  .rates-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
